{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <form action="signin" method="post">
            {% csrf_token %}
            <div class="signin">
                <h1>Welcome to Contact app <br>
                    Sign In</h1>
                <div class="mail">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Enter Email" name="email" required>
                </div>
                <div class="password">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Password" required>
                </div>
                <div class="forgot">
                    <p>forgot password ?</p>
                </div>
                <input type="submit" value="Sign In">
                <div class="singup">
                    <p>Don't have account? <a href="signup"><b>Sign Up</b></a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>